@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* Тіло */
body {
  width: 100%;
  background-color: #ffffff;
  color: #757575;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Глобальне скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Списки */
ul {
  list-style: none;
}

/* Лінки */
a {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover, a:focus {
  color: #2196F3;
  outline: none;
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Підвал блок - адреса */
.address__list {
  list-style: none;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--map {
  color: #FFFFFF;
}
.address__link:hover, .address__link :focus {
  color: #2196F3;
  outline: none;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* Кнопки */
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: inherit;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
  outline: none;
}

/* Кнопка з фільтрів */
.button.secondary {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
}
.button.secondary:hover, .button.secondary:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* Картка з портфоліо */
.card {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus, .card.current {
  color: #2196F3;
  outline: none;
}
.card:hover, .card:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__wrap {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  transform: translateY(0);
}
.card__caption {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.card__description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.card__subtitle {
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 0 auto 4px;
}
.card__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

/* Партнери */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__icon {
  fill: currentColor;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
  outline: none;
}

/* Контакти */
.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.contacts__icon {
  fill: currentColor;
  align-items: center;
}
.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  outline: none;
}

/* Контейнер */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Приклади робіт */
.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
}
.examples__item {
  width: 370px;
}

/* Секція Переваги */
.features__container {
  display: flex;
  justify-content: space-between;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.features__item {
  width: 270px;
}
.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__subtitle {
  color: #212121;
  font-size: inherit;
  line-height: 1.19;
  text-transform: uppercase;
  line-height: 1.14;
  margin: 0 auto 10px;
}
.features__text {
  color: #757575;
  line-height: 1.71;
  margin: 0;
}

/* Фільтри з Портфоліо */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
  list-style: none;
}
.filters__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #F5F4FA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.filters__btn:hover, .filters__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* Підвал */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 70px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__caption {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/*  *Форма модального вікна*  */
.form {
  display: flex;
  flex-direction: column;
}
.form__title {
  font-size: 20px;
  color: #212121;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form__control {
  position: relative;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: #2196F3;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: #2196F3;
  border-color: #2196F3;
}
.form__comment {
  height: 120px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:hover, .form__comment:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.form__comment::-moz-placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  width: 200px;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188CE8;
  outline: none;
}

/* Чекбокс */
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__icon {
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #FFFFFF;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  border: none;
}
.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  line-height: 1.71;
  color: #757575;
}
.checkbox__link {
  color: #2196F3;
}

/* .checkbox-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--dark-bcg-color);
    border-radius: 2px;
}

.checkbox-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--dark-bcg-color);
    border-radius: 2px;
    background-image: url(..);
} */
/* Шапка */
.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image.jpg");
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}
.hero__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  margin: 0 auto 30px;
}
.hero__btn {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
  outline: none;
}

/* Лого */
.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo--primary {
  color: #000000;
}
.logo--secondary {
  color: #FFFFFF;
}
.logo:hover, .logo:focus {
  color: #2196F3;
  outline: none;
}

/* Модальне вікно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: auto;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Кнопка закриття модального вікна */
}
.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.modal__btn:hover {
  fill: #2196F3;
}

/* Навігація */
.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 93px;
}
.nav__list {
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav__link {
  position: relative;
  padding: 32px 0 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus, .nav__link--current {
  color: #2196F3;
  outline: none;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

/* Секції */
.section {
  padding: 94px 0;
}
.section--without-padding-top {
  padding-top: 0;
}
.section__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  margin: 0 auto 50px;
  text-align: center;
}

/* Соціальні мережі */
.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  outline: none;
}

/* Секція Рішення */
.solutions__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
}
.solutions__item {
  position: relative;
  width: 370px;
}
.solutions__subtitle {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  white-space: nowrap;
}

/* Підвал блок - підписки */
.subscription-form {
  display: flex;
  gap: 12px;
}
.subscription-form__input {
  padding: 15px;
  width: 358px;
  color: #FFFFFF;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:focus {
  color: #FFFFFF;
  border: 1px solid #2196F3;
  outline: none;
}
.subscription-form__btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  border-radius: 4px;
  border: 0;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__btn:hover, .subscription-form__btn:focus {
  background-color: #188CE8;
  outline: none;
}
.subscription-form__icon {
  fill: currentColor;
}

/* Секція Команда */
.team {
  background-color: #F5F4FA;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
}
.team__item {
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__description {
  padding: 30px 32px;
}
.team__subtitle {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto 10px;
  font-weight: 500;
}
.team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */