/* Контакти */

.contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--timing-function), background-color var(--timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
    outline: none;
}

.contacts__icon {
    fill: currentColor;
    align-items: center;
}