/* Герой */

.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: var(--gradient), url('../images/hero-bg-image.jpg');
    background-color: var(--dark-bcg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 0;
}

.hero__title {
    color: var(--white-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 696px;
    margin: 0 auto 30px;
}

.hero__btn {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
    margin: 0 auto;
    padding: 10px 32px;
    transition: color var(--timing-function),
        background-color var(--timing-function),
        box-shadow var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--btn-hover-bcg-color);
    outline: none;
}