/* Лого */

.logo {
    color: getColor('accent');
    text-decoration: none;
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    &--primary {
            color: getColor('black-text');
        }

    &--secondary {
            color: getColor('white-text');
        }
    
    &:hover,
    &:focus {
            color: getColor('accent');
            outline: none;
        }
}