/* Секції */

.section {
    padding: 94px 0;

    &--without-padding-top {
        padding-top: 0;
    }

    &__title {
        color: getColor('title-text');
        font-size: 36px;
        line-height: 1.17;
        margin: 0 auto 50px;
        text-align: center;
    }
}