/* Підвал блок - підписки */

.subscription-form {
    display: flex;
    gap: 12px;

    &__input {
        padding: 15px;
        width: 358px;
        color: getColor('white-text');
        background-color: getColor('dark-bcg');
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: $box-shadow;
        border-radius: 4px;

        &::placeholder {
            @include fontset($fw: 400, $lh: 1.25);
            color: getColor('subscription-placeholder');
        }
    
        &:focus {
            color: getColor('white-text');
            border: 1px solid getColor('accent');
            outline: none;
        }
    }

    &__btn {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        cursor: pointer;
        letter-spacing: 0.06em;
        width: 200px;
        border-radius: 4px;
        border: 0;
        color: getColor('white-text');
        background-color: getColor('accent');
        box-shadow: $box-shadow;
        transition: color $timing-function,
                    background-color $timing-function,
                    box-shadow $timing-function;

        &:hover,
        &:focus {
            background-color: getColor('btn-hover-bcg');
        }
    }

    &__icon {
        fill: currentColor;
    }
}